In [1]:
import numpy as np
import pandas as pd

Creating DataFrame

In [2]:
#using lists
student_data = [
    [100,80,10],
    [90,70,7],
    [120,100,14],
    [80,50,2]
]

pd.DataFrame(student_data,columns=['iq','marks','package'])

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2

In [3]:
#using dicts

student_dict = {
    'iq' : [100,90,120,80],
    'marks':[80,70,100,50],
    'package':[10,7,14,2]
}

students = pd.DataFrame(student_dict)
students

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2

In [ ]:
#using read_csv
pd.read_csv('')