In [5]:
#Tuples

#empty
t1 = ()
print(t1)

#create a tuple with a single item

t2 = ('hello')
print(type(t2))
t3 = ('hello',)
print(t3)

t4 = (1,2,3,True,[1,2,3,4],(6,8))
print(t4)

#using type coversion
t6 = tuple('hello')
print(t6)

()
<class 'str'>
('hello',)
(1, 2, 3, True, [1, 2, 3, 4], (6, 8))
('h', 'e', 'l', 'l', 'o')

In [7]:
#Accesiing items

#indexing

t3 = (1,2,3,4,5)
print(t3)

print(t3[2])

print(t3[-1])

(1, 2, 3, 4, 5)
3
5

In [9]:
#slicing

t3 = (1,2,3,4)

print(t3[:4:2])
print(t3[::-1])

(1, 3)
(4, 3, 2, 1)

In [ ]:
# editing

t = (1,2,3,4)

t3[0] = 100
# immutable just like string

In [10]:
# deleting

t3 = (1,2,3,4)

print(t3)

del t3
print(t3)

(1, 2, 3, 4)

NameError: name 't3' is not defined

In [11]:
#operations 

#add
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1+t2)

#mult
print(t1*3)

#membership

print(1 in t1)
#iteration
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
True
1
2
3
4

In [ ]:
#function

#len/sum/min/max/sorted

t = (1,2,3,4)
print(len(t))
print(sum(t)) # only for integers
print(max(t))
print(sorted(t))

4
10
4
[1, 2, 3, 4]

In [15]:
#count and index

t = (1,2,3,4,5)

print(t.count(5))
print(t.count(22))
print(t.index(4))
print(t.index(55))

1
0
3

ValueError: tuple.index(x): x not in tuple

In [ ]:
# tuples are faster than list , generally immutable data types are faster than mutable data types and also takes less space

()

In [ ]:
a = [1,2,3]
b = a #shares same memory location in list
a.append(4)
b.append(5)
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [20]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

In [21]:
#tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [22]:
#swap
a = 1
b = 2
a,b = b,a

print(a,b)

2 1

In [23]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [24]:
#zipping tuples

a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

SET

In [28]:
#empty
s = set()
print(s)
print(type(s))
#1D and 2D
s1 = {1,2,3}
print(s1)
#s2 = {1,2,3,{4,5}}
#homo and hetero
s3 = {1,'hello',4.5,(1,2,3)}
print(s3)
#using type conversion
s4 = set([1,2,3])
print(s4)
#duplicates not allowed
s5={11,2,2,33,33,2}
print(s5)
#mutable data type not allowed
s6 = {1,2,3,[3,4]}
print(s6)

set()
<class 'set'>
{1, 2, 3}
{1, (1, 2, 3), 4.5, 'hello'}
{1, 2, 3}
{33, 2, 11}

TypeError: unhashable type: 'list'

In [29]:
print("hello")
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

hello
True

In [ ]:
#Accessing Items

s1 = {1,2,3,4}
# Cannot do slicing and indexing

In [30]:
#Adding items
s = {1,2,3,4}
#add
s.add(5)
print(s)

#update
s.update([6,7,8])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
#Deleting items

#del
s1 = {1,2,3,4,5}
print(s1)
#del s1 wholly
#print(s1)

#discard
# s.discard(5)
# s.discard(50) does not show error
 #print(s)

#remove
#s.remove(5)
#s.remove(55) throw error
#print(s)

#pop
# s.pop() delete random items

#clear
s.clear()
print(s)

{1, 2, 3, 4, 5}
set()

In [ ]:
# set operation
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
#union(|)
print(s1|s2)
#intersection
print(s1 & s2)
#Difference
print(s1 - s2)
print(s2 - s1)
#Symmetric Difference(^)
print(s1^s2)
#Membership Test
print(1 in s1)
print(1 not in s1)
#Iteration
print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}

In [38]:
#len/sum/min/max/sorted
s = {1,2,3,4,5,6}
print(len(s))
print(sum(s))
min(s)
max(s)

6
21

6

In [2]:
#union/update
s1 = {1,2,3,4,5}
s2 = {6,7,8,9}

s1.update(s2)

print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{8, 9, 6, 7}

In [4]:
#intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {2,3,6,7,8,9}

s1.intersection_update(s2)
print(s1)
print(s2)

{2, 3}
{2, 3, 6, 7, 8, 9}

In [5]:

s1 = {1,2,3,4,5}
s2 = {2,3,6,7,8,9}

s1.difference_update(s2)

print(s1)
print(s2)

{1, 4, 5}
{2, 3, 6, 7, 8, 9}

In [6]:
#symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference_update(s2)

print(s1)

{1, 2, 3, 6, 7, 8}

In [9]:
#isdisjoint/issubset/issuperset

s1 = {1,2,3,4}
s2 = {3,4,5,6}

print(s1.isdisjoint(s2))

print(s1.issubset(s2))

print(s1.issuperset(s2))

False
False
False

In [10]:
#copy shallow copy

s1 = {1,2,3}
s2 = s1.copy()

print(s1,s2)

{1, 2, 3} {1, 2, 3}

In [ ]:
#frozenset - immutable version of set

fs = frozenset([1,2,3])
fs

frozenset({1, 2, 3})

In [ ]:
#what works and what does not
#works -> all read function
#doesn't work -> write operations

In [12]:
# When to use
#2D set
fs = frozenset([1,2,frozenset([3,5])])
fs

frozenset({1, 2, frozenset({3, 5})})

In [13]:
#Set comprehension

# examples

{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#Dictionary

#mutable, indexing has no meaning ,
#keys can't be duplicted , keys can't be mutable items