Lec - 01

In [1]:
print("Hello, World!",True, 3.14, [1, 2, 3], {"key": "value"})

Hello, World! True 3.14 [1, 2, 3] {'key': 'value'}

In [1]:
print("This is a test message.","Welcome",sep='-')
print('Hello',1,4.5,True,sep='/')

This is a test message.-Welcome
Hello/1/4.5/True

In [15]:
print("hello",end="-")
print("world")
print("nice")

hello-world
nice

In [16]:
# type keyword
print(type([1,2,3]))
print(type((1,2,3,4)))

<class 'list'>
<class 'tuple'>

In [ ]:
#Dynamic Binding
a = 5
print(a)
a = "hello"
print(a)

5
hello

In [19]:
a,b,c = 1,"hello",True
print(a,b,c)

1 hello True

In [20]:
# Any input you give wrapped in a string 
a = input("Enter a number")
print(a,type(a))

4 <class 'str'>

In [22]:
fnum = int(input("Enter first number"))
snum = int(input("Enter second number"))

num = fnum + snum
print(num,type(num))

11 <class 'int'>

In [ ]:
# Explicit conversion

a = 2
b = "4"
c = "6"
print(type(a),type(b))
print(a+int(b))
print(type(int(b))) 
print(b+c)

<class 'int'> <class 'str'>
6
<class 'int'>
46

In [2]:
string1 = 'This is Python'
string2 = "welcome to python"
print(string1+string2)
char = "A"
print(string2+char)
multi_line = """This is a multiline string with more than 
one line of code.
It feels amazing to be here and honour to share the stage with all of you"""
print(multi_line)

#Can not do with single doulbe colon pair
multi_line2 = "This is a multiline string with " \
"more than one line of code." \
"It feels amazing to be here and honour to share the stage with all of you"
print(multi_line2)

This is Pythonwelcome to python
welcome to pythonA
This is a multiline string with more than
one line of code.
It feels amazing to be here and honour to share the stage with all of you
This is a multiline string with more than one line of code.It feels amazing to be here and honour to share the stage with all of you

Homework

In [32]:
# Q1

print("Data","Science","Mentorship","Program","started","By","CampusX",sep="-")

Data-Science-Mentorship-Program-started-By-CampusX

In [ ]:
# Q2

In [33]:
# Q3

num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))

print(num1,num2)

swap = num1
num1 = num2
num2 = swap

print(num1,num2)

4 6
6 4

In [ ]:
# Q4

In [34]:
# Q5
P = int(input("Enter principal amount"))
T = float(input("Enter time period"))
R = float(input("Enter interest"))

SI = (P*T*R)/100

print(SI)

1000.0

In [ ]:
# Q6
legs =  int(input("Enter number of legs"))
heads = int(input("Enter number of heads"))
if legs%4==heads:
    print("chicken = 0 and goat = ",legs/4)
elif legs%2==heads:
    print("goat = 0 and chicken =",legs/2)
else :
    chicken = ((heads*4)-legs)/2
    goat = heads - chicken    
    print("chicken = ",chicken,"goat = ",goat)

chicken =  2.0 goat =  2.0