In [1]:
cur_pop = 10000

for i in range(10,0,-1):
    print(i,cur_pop)
    cur_pop = cur_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

In [ ]:
n = int(input("Enter n"))
result = 0
fact = 1
for i in range(1,n+1):
    fact = fact * i
    result = result + (i/fact)

print(result)

In [1]:
#Nested loops

for i  in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [2]:
row = int(input("Enter number of rows"))

for i in range(1,row+1):
    for j in range(1,i+1):
        print('*',end='')
    print()

*
**
***
****

In [4]:
row = int(input("Enter number of rows"))

for i in range(1,row+1):
    r = 0
    for j in range(1,2*i):
        if j<=i:
            print(j,end='')
            r += 1
        else :
            r-=1  
            print(r,end='')
              
    print()

1
121
12321
1234321

In [ ]:
for i in range(1,4):
    print("now")
    for j in range(1,5):
        if j==3:
            break # it comes out of outer loop
        print(j)

now
1
2
now
1
2
now
1
2

In [7]:
#Print Prime
lower = int(input("Enter lower range"))
upper = int(input("Enter upper range"))

for i in range(lower,upper+1):
    for j in range(2,i):
        if i%j==0:
            break
    else :    
        print(i)

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [9]:
#Continue statement

for i in range(1,10):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [1]:
for i in range(1,10):
    pass

In [10]:
# Creating Strings

s = 'hello'
s = "hello"
#multiline strings
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

In [13]:
# Positive Indexing
s = 'hello world'
print(s[0],s[1],s[5],s[6])

h e   w

In [14]:
# Negative Indexing
s = 'hello world'
print(s[-1],s[-2])

d l

In [ ]:
# Slicing
s = 'hello world'
print(s[0:5])
print(s[:])
print(s[2:5])
print(s[2:])
print(s[:3])
print(s[0:6:3])
print(s[6:0:-2])
print(s[::-1]) #reverse string

hello
hello world
llo
llo world
hel
hl
wol
dlrow olleh

In [4]:
s = 'hello world'
print(s[-5:])
print(s[-5::-1])
print(s[-5::1])
print(s[-1:-6:-1])
print(s[-5:-7:2])
print(s[5:2:-1])

world
w olleh
world
dlrow

 ol

In [5]:
# python string are immutable

s = 'hello world'
s[0] = 'H'

TypeError: 'str' object does not support item assignment

In [23]:
s = 'hello world'
print(s)
del s
print(s)

hello world

NameError: name 's' is not defined

In [32]:
s = 'hello world'
print(s)
del s[0]
print(s)

hello world

TypeError: 'str' object doesn't support item deletion

In [35]:
print('delhi'+'mumbai')
print('delhi '*5)

delhimumbai
delhi delhi delhi delhi delhi

In [ ]:
print('delhi' == 'delhi')
print('delhi' == 'mumbai')
print('delhi' == 'Delhi')

True
False
False

In [40]:
# Lexiographically
print('mumbai' > 'pune')
print('pune' > 'mumbai')
# comapare by ASCII code m = 109 and p = 112

False
True

In [ ]:
print('hello' and 'world')
print('hello' or 'world')

# empty strings are false and strings with characters are true

world
hello

In [45]:
for i in 'hello world':
    print(i)

h
e
l
l
o

w
o
r
l
d

In [46]:
print('d' in 'delhi')

True

In [47]:
# Common funtions
print(len('hello world'))
print(max('hello world'))
print(min('hello world'))
print(sorted('hello world'))
print(sorted('hello world',reverse=True))

11
w

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']
['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

In [50]:
s = 'hello world'
print(s.capitalize()) # capitalize first letter of string
print(s.title()) # capitalizze first letter of all word
print(s.upper())
print(s.lower())

Hello world
Hello World
HELLO WORLD
hello world

In [52]:
s = 'HeLLo worLd'
s.swapcase()

'hEllO WORlD'

In [53]:
'my name is nitish'.count('i')

3

In [55]:
print('my name is nitish'.find('i'))
print('my name is nitish'.find('x'))

8
-1

In [56]:
print('my name is nitish'.index('i'))
print('my name is nitish'.index('x'))

8

ValueError: substring not found

In [57]:
print('my name is nitish'.endswith('sh'))
print('my name is nitish'.endswith('sho'))

True
False

In [59]:
print('my name is nitish'.startswith('my n'))
print('my name is nitish'.startswith('my nw'))

True
False

In [61]:
name = 'Prince'
gender = 'male'

'Hi my name is {} and I am a {} '.format(name,gender)

'Hi my name is Prince and I am a male '

In [62]:
print('prince1234'.isalnum())
print('prince1234%'.isalnum())

True
False

In [63]:
print('prince'.isalpha())
print('prince1'.isalpha())

True
False

In [64]:
print('123'.isdigit())
print('123a'.isdigit())

True
False

In [65]:
print('1name'.isidentifier())
print('name1'.isidentifier())
print('first-name'.isidentifier())

False
True
False

In [66]:
print('hi my name is prince'.split())
print('hi my name is prince'.split('i'))

['hi', 'my', 'name', 'is', 'prince']
['h', ' my name ', 's pr', 'nce']

In [67]:
"-".join(['hi', 'my', 'name', 'is', 'prince'])

'hi-my-name-is-prince'

In [68]:
'hi my name is prince'.replace('prince','rishi')

'hi my name is rishi'

In [72]:
'nitish             '.strip()

'nitish'

HW

In [14]:
#1

for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [16]:
#5

x = int(input("Enter number"))
n = int(input("Enter number of terms"))

result = 0

for i in range(1,n+1):
    result += (x**i)/i

else:
    print(result)

12.0

In [31]:
#7

n = int(input("Enter number"))
result = 0
a = 0 
for i in range(1,n+1):
    print((10**(i-1))*2 + result,end='')
    if i!=n:
        print('+',end='')
    result = (10**(i-1))*2 + result
    a = result + a
print()
print(a)

2+22+222+2222+22222
24690

In [32]:
#8

for i in range(1,5):
    for j in range(1,5):
        for k in range(1,5):
            for l in range(1,5):
               print(i,j,k,l)

1 1 1 1
1 1 1 2
1 1 1 3
1 1 1 4
1 1 2 1
1 1 2 2
1 1 2 3
1 1 2 4
1 1 3 1
1 1 3 2
1 1 3 3
1 1 3 4
1 1 4 1
1 1 4 2
1 1 4 3
1 1 4 4
1 2 1 1
1 2 1 2
1 2 1 3
1 2 1 4
1 2 2 1
1 2 2 2
1 2 2 3
1 2 2 4
1 2 3 1
1 2 3 2
1 2 3 3
1 2 3 4
1 2 4 1
1 2 4 2
1 2 4 3
1 2 4 4
1 3 1 1
1 3 1 2
1 3 1 3
1 3 1 4
1 3 2 1
1 3 2 2
1 3 2 3
1 3 2 4
1 3 3 1
1 3 3 2
1 3 3 3
1 3 3 4
1 3 4 1
1 3 4 2
1 3 4 3
1 3 4 4
1 4 1 1
1 4 1 2
1 4 1 3
1 4 1 4
1 4 2 1
1 4 2 2
1 4 2 3
1 4 2 4
1 4 3 1
1 4 3 2
1 4 3 3
1 4 3 4
1 4 4 1
1 4 4 2
1 4 4 3
1 4 4 4
2 1 1 1
2 1 1 2
2 1 1 3
2 1 1 4
2 1 2 1
2 1 2 2
2 1 2 3
2 1 2 4
2 1 3 1
2 1 3 2
2 1 3 3
2 1 3 4
2 1 4 1
2 1 4 2
2 1 4 3
2 1 4 4
2 2 1 1
2 2 1 2
2 2 1 3
2 2 1 4
2 2 2 1
2 2 2 2
2 2 2 3
2 2 2 4
2 2 3 1
2 2 3 2
2 2 3 3
2 2 3 4
2 2 4 1
2 2 4 2
2 2 4 3
2 2 4 4
2 3 1 1
2 3 1 2
2 3 1 3
2 3 1 4
2 3 2 1
2 3 2 2
2 3 2 3
2 3 2 4
2 3 3 1
2 3 3 2
2 3 3 3
2 3 3 4
2 3 4 1
2 3 4 2
2 3 4 3
2 3 4 4
2 4 1 1
2 4 1 2
2 4 1 3
2 4 1 4
2 4 2 1
2 4 2 2
2 4 2 3
2 4 2 4
2 4 3 1
2 4 3 2
2 4 3 3
2 4 3 4
2 4 4 1
2 4 4 2
2 4 4 3
2 4 4 4
3 1 1 1
3 1 1 2
3 1 1 3
3 1 1 4
3 1 2 1
3 1 2 2
3 1 2 3
3 1 2 4
3 1 3 1
3 1 3 2
3 1 3 3
3 1 3 4
3 1 4 1
3 1 4 2
3 1 4 3
3 1 4 4
3 2 1 1
3 2 1 2
3 2 1 3
3 2 1 4
3 2 2 1
3 2 2 2
3 2 2 3
3 2 2 4
3 2 3 1
3 2 3 2
3 2 3 3
3 2 3 4
3 2 4 1
3 2 4 2
3 2 4 3
3 2 4 4
3 3 1 1
3 3 1 2
3 3 1 3
3 3 1 4
3 3 2 1
3 3 2 2
3 3 2 3
3 3 2 4
3 3 3 1
3 3 3 2
3 3 3 3
3 3 3 4
3 3 4 1
3 3 4 2
3 3 4 3
3 3 4 4
3 4 1 1
3 4 1 2
3 4 1 3
3 4 1 4
3 4 2 1
3 4 2 2
3 4 2 3
3 4 2 4
3 4 3 1
3 4 3 2
3 4 3 3
3 4 3 4
3 4 4 1
3 4 4 2
3 4 4 3
3 4 4 4
4 1 1 1
4 1 1 2
4 1 1 3
4 1 1 4
4 1 2 1
4 1 2 2
4 1 2 3
4 1 2 4
4 1 3 1
4 1 3 2
4 1 3 3
4 1 3 4
4 1 4 1
4 1 4 2
4 1 4 3
4 1 4 4
4 2 1 1
4 2 1 2
4 2 1 3
4 2 1 4
4 2 2 1
4 2 2 2
4 2 2 3
4 2 2 4
4 2 3 1
4 2 3 2
4 2 3 3
4 2 3 4
4 2 4 1
4 2 4 2
4 2 4 3
4 2 4 4
4 3 1 1
4 3 1 2
4 3 1 3
4 3 1 4
4 3 2 1
4 3 2 2
4 3 2 3
4 3 2 4
4 3 3 1
4 3 3 2
4 3 3 3
4 3 3 4
4 3 4 1
4 3 4 2
4 3 4 3
4 3 4 4
4 4 1 1
4 4 1 2
4 4 1 3
4 4 1 4
4 4 2 1
4 4 2 2
4 4 2 3
4 4 2 4
4 4 3 1
4 4 3 2
4 4 3 3
4 4 3 4
4 4 4 1
4 4 4 2
4 4 4 3
4 4 4 4

In [ ]:
#9

d_no = int(input("Enter number"))
b_no = 0
print(d_no)
a = ""
while d_no!=0:
    a += str(d_no%2)
    d_no = d_no//2

b_no = int(a[::-1])   
print(b_no)

19
10011

In [48]:
#11
word = "data science mentorship program"
j=0
short = ""
for i in word :
    if i==word[0]:
        short+=i
    elif i==" ":
        short+=word[j+1] 
    j+=1  

print(short)

dsmp

In [ ]:
#12

first = "campux"
second = "data"

first = first[0:len(first)//2] + second + first[len(first)//2:]

print(first)

camdatapux

In [ ]:
#13

str1 = 'PyNaTive'
cap = ''
small = ''
for i in str1:
    if ord(i)>=97:
        small+=i
    else:
        cap+=i

print(small+cap)

yaivePNT

In [55]:
for i in 'hello':
    print(ord(i))

104
101
108
108
111

In [58]:
#15

word = 'I am  25 years and 10 months old'
num = ''
for i in word:
    if i.isdigit():
        num+=i

print(num)

2510

In [ ]:
word = "khokho"
print(len(word))
if word[:len(word)//2]==word[len(word)//2:]:
    print("symmetrical")
else:
    print("Not")

6
symmetrical

In [79]:
words = "geeks quiz practice code"
rev = words.split()
print(rev)
rev = rev[::-1]
print(rev)
print(" ".join(rev))

['geeks', 'quiz', 'practice', 'code']
['code', 'practice', 'quiz', 'geeks']
code practice quiz geeks