In [ ]:
# List can store many type of data type at same time.
# It is dynamic array in nature.
#Speed of executiom is slow than array

In [1]:
# id function print address
L  =[1,2,3]

print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

2287042815552
140716503774120
140716503774152
140716503774184
140716503774120
140716503774152
140716503774184

In [3]:
print([])
print([1,2,3,4,5])
#2d
print([1,2,3,[4,5]])
#3d
print([[[1,2],[3,4]],[[5,6],[7,8]]])
print([1,True,5.6,"hekllo"])
#Using type conversion
print(list('hello wrold'))
print(list('1234'))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, 'hekllo']
['h', 'e', 'l', 'l', 'o', ' ', 'w', 'r', 'o', 'l', 'd']
['1', '2', '3', '4']

In [10]:
# Indexing
L = [1,2,3,4,5]
#positive
print(L[0])
print(L[4])
#negative
print(L[-1])
print(L[-3])
print(L[-2])

l = [1,2,3,4,[5,6]]
print(l[-1][0])

1
5
5
3
4
5

In [11]:
l = [[[1,2],[3,4]],[[5,6],[7,8]]]
print(l[1][0][0])

5

In [9]:
# Slicing
L = [1,2,3,4,5,6]
print(L[-3:-7:-1])

print(L[::-1])

print(L[1:4:-1])

[4, 3, 2, 1]
[6, 5, 4, 3, 2, 1]
[]

In [21]:
# Adding item to a list

#append
l =[1,2,3,4,5]
l.append([6,7,8])
l.append(True)
print(l)

[1, 2, 3, 4, 5, [6, 7, 8], True]

In [22]:
# extend
l =[1,2,3,4,5]
l.extend([6,7,8])
l.extend('delhi')
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 'd', 'e', 'l', 'h', 'i']

In [23]:
#insert
l = [1,2,3,4,5]
l.insert(1,100)
print(l)

[1, 100, 2, 3, 4, 5]

In [ ]:
#Editing item in a  list

l = [1,2,3,4,5]
l[-1] = 500

# editing with slicing
l[1:4] = [200,300,400]

print(l)

[1, 200, 300, 400, 500]

In [27]:
# Deleting  

#del 
l = [1,2,3,4,5,6]
print(l)
#indexing
del l[-1]
print(l)
del l[1:3]
print (l)
del l
print(l)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
[1, 4, 5]

NameError: name 'l' is not defined

In [28]:
# remove

l = [1,2,3,4,5]

l.remove(5)
print(l)

[1, 2, 3, 4]

In [ ]:
#pop

l = [1,2,3,4,5]

l.pop(0)
l.pop() 
print(l)

[2, 3, 4]

In [31]:
#clear 

l = [1,2,3,4,5]

l.clear()

print(l)

[]

In [33]:
#operations on list

#arithmetic (+,*)

l1 = [1,2,3,4]
l2 = [5,6,7,8]

print(l1+l2) #merging

print(l1*3)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [10]:
#membership

l1 = [1,2,3,4,5]
l2 = [1,2,3,4,5,[6,8]]

print(5 not in l1)
print(6 in l2[5])

False
True

In [38]:
#loops
l1 = [1,2,3,45,5]
l2 = [1,2,3,4,[5,6]]
for i in l1:
    print(i)
for i in l2:
    print(i)

1
2
3
45
5
1
2
3
4
[5, 6]

In [13]:
#list functions

#len/min/max/sorted

l = [2,1,5,7,0]

print(len(l))
print(min(l))
print(max(l))
print(sorted(l,reverse=True))

5
0
7
[7, 5, 2, 1, 0]

In [15]:
#count

l=[1,2,1,3,4,1]

print(l.count(1))
l.count(7)

3

0

In [42]:
#index
l=[1,2,3,4,5,6]
l.index(4)

3

In [43]:
#reverse
l = [2,1,5,7,8]
#permanently reverses the list
l.reverse()
print(l)

[8, 7, 5, 1, 2]

In [48]:
#sort (vs sorted)

l = [2,3,4,8,1,6]

print(l)
print(sorted(l))
print(l)
l.sort()
print(l)

[2, 3, 4, 8, 1, 6]
[1, 2, 3, 4, 6, 8]
[2, 3, 4, 8, 1, 6]
[1, 2, 3, 4, 6, 8]

In [49]:
#copy

l = [2,1,5,7,8]
print(l)
print(id(l))
l1 = l.copy()
print(l1)
print(id(l1))

[2, 1, 5, 7, 8]
2287042845696
[2, 1, 5, 7, 8]
2287043596224

In [50]:
#list comprehension

# add 1 to 10 number to a list

l = [i for i in range(1,11)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
#scaler multiplication on a vector
v = [2,3,4]

s = -3

[s*i for i in v]

[-6, -9, -12]

In [52]:
#add squares

l = [1,2,3,4,5]

[i**2 for i in l]

[1, 4, 9, 16, 25]

In [54]:
#Print all numbers divisible by 5 in the range of 1 to 50

[i for i in range(1,51) if i%5==0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [55]:
#nested if with list comprehension
basket = ['apple','guave','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banna']
             
             #add new list from my_fruits and items if the fruit exists in basket and also starts with 'a]

[fruit for fruit in my_fruits  if fruit in basket if fruit.startswith('a')]

['apple']

In [20]:
# Write a program to add 2 list indexwise

l1 = [1,2,3,4]
l2 = [-1,-2,-3,-4]

list(zip(l1,l2))

[i+j for i,j in zip(l1,l2)]

[0, 0, 0, 0]

In [23]:
# 2 ways to itereate a list

#itemwise

l=[11,22,33,44]

for i in l:
    print(i)

#indexwise

for i in range(0,len(l)):
    print(i,l[i])

11
22
33
44
0 11
1 22
2 33
3 44

HW

In [24]:
#1

l1 = ["M","na","i","kh"]
l2 = ["y","me0","s","an"]

list(zip(l1,l2))

[('M', 'y'), ('na', 'me0'), ('i', 's'), ('kh', 'an')]

In [30]:
#2

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].insert(2,7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [33]:
# 3

candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

l = list(zip(candy_list,no_of_items))

print(l)

[print(i,"-",j) for i,j in l]

[('Jelly Belly', 10), ('Kit Kat', 20), ('Double Bubble', 34), ('Milky Way', 74), ('Three Musketeers', 32)]
Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

[None, None, None, None, None]

In [42]:
#4

list1 = [11,2,3,4,5,6]

l = []

for i in range(0,len(list1)):
    a = 0
    for j in range(0,i+1):
        a += list1[j]
    l.append(a)    

print(l)

[11, 13, 16, 20, 25, 31]

In [47]:
#5

list1 = [2,4,6,10,1]
l=[]
for i in list1:
    a = 0
    for j in list1:
        if j>i:
            a+=j
    l.append(a+i)     

print(l)

[22, 20, 16, 10, 23]

In [49]:
#6
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]

sorted([i for i in num1 if i in num2])

[34, 67, 89]

In [70]:
l1 = ['1ac21', '23fg', '456', '098d','1','kls']
l=[]
for i in l1:
    a=1
    if i.isalnum():
        for j in i:
            if j.isdigit():
                a*=int(j)
    l.append(a)

print(l)   

for i in range(0,len(l)):
    for j in range(0,len(l)):
        if l[i]>l[j]:
            l1[i],l1[j]=l1[j],l1[i]


print(l1)

[2, 6, 120, 0, 1, 1]
['456', '23fg', '098d', '1ac21', '1', 'kls']